@page
@model TimeTableModel
@{
    ViewData["Title"] = "TimeTable";
    List<string> strl = new List<string>();
}
    <div class="timetable-title-table" >
        <div class="timetable-title">
                <h1>Órarend: A hét</h1>
                <hr>
        </div>
        <div class="timetable-table">
        
        </div>
    </div>
